/* Windows XP Theme - Main Import */
@import './xp-variables.css';
@import './xp-base.css';
@import './xp-window.css';
@import './xp-taskbar.css';
@import './xp-icons.css';
@import './xp-buttons.css';
@import './xp-explorer.css';
